.App {
  text-align: center;
}

.Header {
  padding-top:250px;
}

.Letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Letter {
  font-size: 20px;
  color: black;
  padding: 0.5px;
}

.Highlighted {
  font-size: 20px;
  color: black;
  font-weight: bolder;
  padding: 0.5px;

}

.InputBox {
  padding-top:15px;
}

.BoxAndButton {
  display: flex;
  justify-content: center;
}

.BoxAndButton input {
  height: 19px;
}

.BoxAndButton button {
  height: 25px;
}

.MyButton {
  margin-top: 10px;
  height: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
