.App {
  text-align: center;
}

.Header {
  padding-top:300px;
}

.Letters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Letter {
  font-size: 18px;
  color: black;
}

.Highlighted {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.InputBox {
  padding-top:20px;
}

.BoxAndButton {
  display: flex;
  justify-content: center;
}

.BoxAndButton button {
  height: 21px;
  margin-top: 2px;
}

.MyButton {
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
